
.userWrap {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    border: 1px solid gray;
    background-color: lavender;
}

.user {
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 5px;
    border: 1px solid black;
}

.button, .button1, .btn {
    cursor: pointer;
    width: 90%;
    margin: 5px auto;
}

.wrap {
    width: 600px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 1px solid gray;
    background-color: lavender;
}

.postWrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
}

.postData {
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    width: 18%;
    position: relative;
}

.btn {
    position: absolute;
    bottom: 5px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

.postDetailDiv {
    width: 1000px;
    margin: 0 auto;
    text-align: center;

}

.postWrapCom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin: 1%;
    padding: 1%;
    width: 20%;
    flex-direction: column;
    background: gainsboro;
    border: 1px solid cornflowerblue;
}

}


.postBtn {
    width: 80%;
    margin: 0 auto;
}

.wrapPost {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 5px;
    row-gap: 5px;
    margin-top: 20px;
}

.postDiv {
    width: 48%;
    border: 1px solid black;
    display: flex;*/
    /*    margin: 1%;*/
    /*    width: 15%;*/
    /*    padding: 1%;*/
    /*    flex-direction: column;*/
}